.title
{
    font-size:70px;
    font-weight:bold;
    text-shadow:2px 4px 5px rgb(63, 53, 53);
    color:rgb(220, 181, 22)
}
.image
{
    border-radius:9px;
    box-shadow: 2px 3px 8px black
}
.confusion
{
    position:absolute;
    top:200px;
    right:300px;
    font-size:49px;
    font-weight:bold;
    color:royalblue

}

.help
{
      position:absolute;
    top:310px;
    right:60px;
    font-size:25px;
    font-weight:700;
    color:rgb(58, 165, 204);
    font-family:cursive;
}